body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
    
    
}

header {
    background-color:  #3b3b3b;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #cf3883 ;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

footer {
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

form input, form select {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

a{
    text-decoration: none;
    color: #3b3b3b;
}